body {
  margin: 0;
  padding: 0;
}

a {
	text-decoration: none;
}

p.redText {
	color: red;
	padding: 20px;
	padding-bottom: 0px;
}

.player-selection {
	padding: 20px;
}

.modal-content {
	padding: 20px;

	.player-selection {
		padding: 0px 0px 20px 0px;

		p.redText { padding: 20px 0px 0px 0px; }
	}
}

.teams-wrapper {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.team-item {

	float: left;
	padding: 20px;

	.team-name {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 6px;
	}

	.warning-msg {
		font-size: 12px;
		color: red;
		display: block;
	}

	.rider-name {
		display: block;

		&:first-child {
			font-weight: bold;
		}
	}

}

.code-block {
	/* margin-top: 40px; */
	
	> div {
		padding: 10px;
		background-color: yellow;
		margin-left: 20px;
		margin-right: 20px;
	}
}
